//mensch

@font-face {
    font-family: 'MenschRegular';
    src: url('fonts/mensch-wf.eot');
    src: url('fonts/mensch-wf.eot?#iefix') format('embedded-opentype'),
         url('fonts/mensch-wf.woff') format('woff'),
         url('fonts/mensch-wf.ttf') format('truetype'),
         url('fonts/mensch-wf.svg#MenschMenschRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//icomoon

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?r5nzw');
	src:url('fonts/icomoon.eot?r5nzw#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?r5nzw') format('truetype'),
		url('fonts/icomoon.woff?r5nzw') format('woff'),
		url('fonts/icomoon.svg?r5nzw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-answer:before {
	content: "\e900";
}
.icon-connect:before {
	content: "\e901";
}
.icon-donate:before {
	content: "\e902";
}
.icon-find-resources:before {
	content: "\e903";
}
.icon-get-info:before {
	content: "\e904";
}
.icon-lend-hand:before {
	content: "\e905";
}
.icon-profile:before {
	content: "\e906";
}
.icon-seek-services:before {
	content: "\e907";
}
.icon-circle-down:before {
	content: "\e908";
}