@import "settings"

@media screen and (max-width:1245px)
    .donate-ul li
        h4
            font-size: 1.2rem
            margin-top: 3.5% !important

@media screen and (max-width: 1120px)
    .container 
        .header .logo
            max-width: 120px
        #home .headline 
            padding: 0 15%
            h1
                font-size: 3rem
        #how
            padding: 7% 4%
            .how-it-works-row .how-icon
                width: 130px
                margin-bottom: 20px
                float: none
                clear: none
                padding-right: 0
            .help-donate-row
                .seek-help-col, .donate-col
                    width: 100%
                    p, .seek-help-ul, .donate-ul
                        padding: 10px 20%
                        margin-bottom: 20px
                    
            
@media screen and (max-width: 1015px)
    .container #how .how-col
        width: 40%
    #why
        p
            padding: 0 10% !important

@media screen and (max-width: 745px)
    .container
        #home
            background-position: center
            padding: 35%
            .headline a h6
                float: none
                width: 100%
                margin: 20px auto
                padding: 2%
                background-color: rgba($ltgreen, .7)
                text-align: center
                border: $border
        #how
            .how-it-works-row .columns
                width: 100%
                padding: 5% 10%
                p
                    text-align: center
            .help-donate-row
                .seek-help-col, .donate-col
                    .seek-help-ul, .donate-ul
                        padding: 10px 10%
                
        .signup
            padding: 10%
            p
                font-size: 1.25rem
                margin-bottom: 7%
    
@media screen and (max-width: 538px)
    [data-magellan-expedition], [data-magellan-expedition-clone]
        width: 33.33%
    .container
        section
            padding: 10% 5%
        #home
            padding: 50%
        #why .house-icon
            max-width: 200px
        #how
            .donate-ul li h4
                font-size: .95rem
        #footer-container footer img
            display: block
            margin: 15px auto
       