@import "settings"
    
body
    background-color: $dkblue
    color: $white
    font-family: $brandon
    font-weight: 400
    font-size: 22px

h1, h2, h3, h4, h5, h6
    color: $white
    font-family: $brandon
    text-transform: uppercase
    font-weight: 700
    
h5
    line-height: 2rem

p    
    font-size: inherit
    
a, a:visited
    color: $white
    text-decoration: none
    transition: all .15s
    -webkit-transition: all .15s

a:hover, a:focus, a:active
    color: lighten( $ltblue, 25% )
    
.container
    width: 100%
    
    .header
        text-align: center
        padding: 2% 0 1%
        background-image: $grad
        background-image: $webkitgrad
        .logo
            max-width: 150px
            margin: 0 auto
        
        [data-magellan-expedition-clone]
            background: $grad    
            ul
                margin: 25px auto 15px
                list-style: none
                display: table
                font-size: 1.2rem
                li
                    display: inline-block
                    float: left
            
        [data-magellan-expedition]
            background: $grad      
            padding: 0
            ul
                margin: 25px auto 15px
                list-style: none
                display: table
                font-size: 1.2rem
                li
                    display: inline-block
                    float: left
                    a
                        padding: 5px 15px
                        margin: 0 10px
                        text-transform: uppercase
                        font-family: $brandon
                        letter-spacing: .1rem
    section
        padding: 7% 10%
        text-align: center
        h2
            margin: 0 auto
            padding: 0
            line-height: 3.5rem
            font-size: 4rem
        .row
            margin-top: 5%
        .arrow
            font-size: 2rem    
    #home
        width: 100%
        padding: 25%
        position: relative
        background-image: linear-gradient(rgba($dkbluedes, .85),rgba($dkbluedes, .45)), url(../img/home.jpg)
        background-image: -webkit-linear-gradient(rgba($dkbluedes, .85),rgba($dkbluedes, .45)), url(../img/home.jpg)
        background-size: cover
        background-attachment: fixed
        //min-height: 650px
        .headline
            position: absolute
            width: 100%
            padding: 0 25%
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            -webkit-transform: translate(-50%,-50%)
            h1
                text-align: center
                padding: 1%
                background-color: rgba($ltblue, .7)
                font-size: 4.5rem
                line-height: 4.2rem
            a 
                margin-top: 10px
                &:hover
                    background-color: $ltgreen
                h6
                    float: right
                    padding: 2%
                    background-color: rgba($ltgreen, .7)
                    text-align: center
                    border: $border
                    margin: 0
                    font-size: 1.25rem
    #why
        background-color: $ltblue
        .house-icon
            max-width: 300px
            margin: 20px 0
        p, h5
            margin: 30px 0
            padding: 0 15%
        .why-img
            width: 700px
            margin: 30px 0
    //delete all this feb-15
    #what
        background-image: linear-gradient(rgba($dkbluedes, .85),rgba($dkbluedes, .85)), url(../img/what.jpg)
        background-image: -webkit-linear-gradient(rgba($dkbluedes, .85),rgba($dkbluedes, .85)), url(../img/what.jpg)
        background-size: cover
        background-position: top center
        background-attachment: fixed
        h2, .subhead
            margin-bottom: 1%
        .subhead
            font-size: 1.35rem
        .what-icon span
            display: block
            font-size: 7rem
            color: $ltgreen
            padding-bottom: 5%
        h6
            font-size: 1.25rem
            min-height: 60px
        p
            //text-align: justify
    #how-old, #how           
        background-color: $white
        h2
            color: $ltblue
        .how-infographic
            background-color: $ltblue
            margin: 5% 0 0
            padding: 30px 0 30px
            &:after 
        .how-divider
            padding: 0
            margin: 0
            width: 600px
        .how-it-works-row
            .how-icon
                width: 180px
                float: left
                clear: both
                padding-right: 30px
            p
                text-align: left
        .help-donate-row
            margin-top: -5px
            .seek-help-col, .donate-col
                background-size: cover
                padding: 0
                width: 49%
                h3
                    padding: 20px
                    margin-top: 0
                p, .seek-help-ul, .donate-ul
                    margin: 0
                    padding: 10px
                .seek-help-ul, .donate-ul
                    list-style: none
                    li
                        padding: 10px
                        margin: 10px 0
                        height: 100px
                        img
                            float: left
                            clear: both
                            width: 75px
                            margin: 0 35px 0 15px
                        h4
                            text-align: left
            .seek-help-col
                background: #2e4046 url(../img/seek-help-bg.jpg) no-repeat        
                h3
                    background: $ltgreen
                .seek-help-ul
                    li
                        background-color: rgba($ltgreen, 0.7)
                        h4
                            margin-top: 5%
            .donate-col
                background: #2e4046 url(../img/donate-bg.jpg) no-repeat
                h3
                    background-color: $ltblue
                .donate-ul
                    li
                        background-color: rgba($ltblue, 0.7)    
                        h4
                            margin-top: 2%
                p
                    padding: 0 5px
                hr
                    width: 80%
                    margin: 27px auto
                h5
                    line-height: 2rem
                    padding: 0 40px
                    margin: 35px 0
                    
    .signup
        background-color: $ltgreen
        width: 100% !important
        padding: 5%
        //position: absolute
        //margin: 5% auto
        text-align: center
        left: 0
        p
            margin-bottom: 3%
        a
            background-color: $ltgreen
            padding: 15px 30px
            border: $border
            display: inline-block
            h6
                color: $white
                margin: 0
                padding: 0
                font-size: 2rem
            &:hover
                background-color: $white
                h6
                    color: $ltgreen
            
            
    #team
        background-image: $grad
        background-image: $webkitgrad
        .row
            //background: linear-gradient($dkbluedes,rgba($dkbluedes, .65))
            //background: -webkit-linear-gradient($dkbluedes,rgba($dkbluedes, .65))
            .columns
                //padding-left: 0
                //padding-right: 0
                //text-align: left
            .team-member
                display: table
                width: 100%
                h6
                    //font-size: 1.65rem
                    font-size: .9rem
                    display: inline-block
                    //margin-bottom: 5%
                    margin-bottom: 5%
                    line-height: 2rem
                a
                    display: inline-block
                    margin-left: 5%
                    font-size: 1.35rem
                    line-height: 2rem
                    color: lighten($ltblue, 10%)
                    vertical-align: middle
                    &:hover
                        color: $ltblue
            img
                border-radius: 100%
                border: $border
            .bio    
                padding: 5%
                .bio-social
                    margin: 0
                    padding: 3% 0 0
                    display: table
                    width: 100%   
                    border-top: 1px dashed $white
                    li
                        display: inline-block
                        padding: 1% 3%
                        margin: 0 1%
                        a
                            font-size: 1.5rem
                    li:first-child
                        padding-left: 0
                        margin-left: 0    
    #footer-container
        background: $dkblue
        padding: 2% 10%
        footer
            display: table
            width: 100%
            img
                display: inline-block
                max-width: 50px
                margin-right: 2rem
            p
                margin-bottom: 0
                display: inline-block

                        
                        
                        